body {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: #29292b;
  background-color: #e8e8e8;
  margin: 0px;
  padding: 0px; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1 {
  padding: 0;
  margin: 0;
  font-size: 42px; }

h3 {
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 5px 0; }

a {
  text-decoration: none;
  color: #29292b; }
  a:hover {
    text-decoration: none;
    text-underline: none; }
  a:visited {
    text-decoration: none;
    color: #29292b; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader.gif") 50% 50% no-repeat #f9f9f9; }

.clear {
  clear: both; }

.container-fluid {
  padding: 0; }

.height-auto {
  height: auto !important; }

/*---------MAIN MENU---------*/
.main-menu .vertical-category-menu {
  background-color: #0daed2;
  height: 55px;
  color: #fbfbfb; }
  .main-menu .vertical-category-menu .title {
    margin-left: 30px;
    line-height: 55px; }
    .main-menu .vertical-category-menu .title .left .fa {
      font-size: 23px; }
    .main-menu .vertical-category-menu .title .title-menu {
      font-size: 22px;
      font-weight: bold;
      margin-left: 10px; }
.main-menu .tags {
  font-size: 15px;
  line-height: 55px;
  margin-left: 30px; }
  .main-menu .tags a {
    color: #29292b;
    font-weight: lighter; }
    .main-menu .tags a .arrow {
      font-size: 13px;
      color: #b5b5bb;
      margin: 0 10px; }

.main {
  background-color: #fbfbfb;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); }
  .main .col-left .sidebar {
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #d9d9da; }
    .main .col-left .sidebar .title-sidebar {
      font-size: 20px;
      color: #09c3ed;
      margin-left: 15px;
      padding-top: 30px; }
    .main .col-left .sidebar .panel-group {
      margin-top: 10px;
      font-size: 16px;
      margin-bottom: 0; }
      .main .col-left .sidebar .panel-group .panel {
        background-color: #d9d9da;
        border: none; }
        .main .col-left .sidebar .panel-group .panel .panel-heading {
          padding: 5px 15px;
          background-color: #d9d9da;
          border: none; }
          .main .col-left .sidebar .panel-group .panel .panel-heading .panel-title a {
            margin-left: 5px; }
          .main .col-left .sidebar .panel-group .panel .panel-heading .panel-title.active {
            color: #09c3ed; }
            .main .col-left .sidebar .panel-group .panel .panel-heading .panel-title.active a {
              color: #09c3ed; }
        .main .col-left .sidebar .panel-group .panel .panel-body {
          padding: 0; }
          .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent {
            margin-left: 35px; }
            .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub {
              margin-top: 10px; }
              .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub .sub-child {
                display: none;
                margin-left: 20px; }
                .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub .sub-child li {
                  margin-top: 10px; }
              .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub.active {
                color: #09c3ed; }
                .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub.active .sub-child {
                  display: block; }
                .main .col-left .sidebar .panel-group .panel .panel-body .sub-parent .has-sub.active a {
                  color: #09c3ed; }
    .main .col-left .sidebar .brands {
      margin-left: 15px; }
      .main .col-left .sidebar .brands li {
        margin-top: 10px; }
        .main .col-left .sidebar .brands li.active {
          color: #09c3ed; }
          .main .col-left .sidebar .brands li.active a {
            color: #09c3ed; }
  .main .col-left .suggest-products {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #b5b5bb;
    background-color: #d9d9da;
    text-align: center; }
    .main .col-left .suggest-products .title {
      font-size: 25px;
      color: #09c3ed;
      background-color: #fbfbfb;
      padding: 8px 0;
      border-bottom: 1px solid #b5b5bb; }
    .main .col-left .suggest-products .suggest-list {
      background-color: #d9d9da; }
      .main .col-left .suggest-products .suggest-list .suggest-item {
        margin: 10px;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
        background-color: #fbfbfb; }
        .main .col-left .suggest-products .suggest-list .suggest-item figure a {
          height: 255px; }
        .main .col-left .suggest-products .suggest-list .suggest-item figure figcaption h3 {
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 0; }
        .main .col-left .suggest-products .suggest-list .suggest-item figure figcaption .name {
          font-size: 17px;
          font-weight: lighter; }
        .main .col-left .suggest-products .suggest-list .suggest-item figure figcaption .price {
          margin-bottom: 20px; }
          .main .col-left .suggest-products .suggest-list .suggest-item figure figcaption .price .price-number {
            color: #09c3ed;
            font-size: 20px;
            font-weight: bold; }
        .main .col-left .suggest-products .suggest-list .suggest-item figure .info {
          position: absolute;
          font-weight: bold;
          padding: 5px 15px;
          background: #09c3ed;
          top: 0;
          left: 0;
          color: #fbfbfb; }

/*# sourceMappingURL=appProduct.css.map */
