@import "_colors";
@import "_global";

.slider-controls{
	position: absolute;
	top: 15px;
	right: 20px;
	.btn-prev,.btn-next{
		width: 40px;
		height: 40px;
		border: 1px solid $dark-line;
		font-size: 15px;
		line-height: 40px;
		&:hover{
			border: 1px solid $light-blue;
			color: $light-blue;
			cursor: pointer;
		}

	}
	.btn-prev{
		display: inline-block;
	}
	.btn-next{
		display: inline-block;
	}
}


.slidedown{
	overflow: hidden;
}
.slidedown.ng-hide-add, .slidedown.ng-hide-remove{
	transition: 0.5s linear all;
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
}

.slidedown.ng-hide-remove{
	max-height: 0;
}
.slidedown.ng-hide-remove.ng-hide-remove-active{
	max-height: 400px;
}
.slidedown.ng-hide-add{
	max-height: 400px;
}
.slidedown.ng-hide-add.ng-hide-add-active{max-height: 0;}


/*.dropdown-submenu-visible{
	overflow: hidden;
}
.dropdown-submenu-visible.ng-hide-add, .dropdown-submenu-visible.ng-hide-remove{
	transition: 0.5s linear all;
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
}

.dropdown-submenu-visible.ng-hide-remove{
	max-height: 0;
}
.dropdown-submenu-visible.ng-hide-remove.ng-hide-remove-active{
	max-height: 500px;
}
.dropdown-submenu-visible.ng-hide-add{
	max-height: 500px;
}
.dropdown-submenu-visible.ng-hide-add.ng-hide-add-active{max-height: 0;}
*/

/*
.show-animation{
	opacity: 0;
	visibility:  hidden;
}
.show-animation.ng-hide-add, .show-animation.ng-hide-remove{
	transition: 0.5s linear all;
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
}

.show-animation.ng-hide-remove{
	opacity: 1;
	visibility: visible;
	
}
.show-animation.ng-hide-remove.ng-hide-remove-active{
	opacity: 0;
	visibility: hidden;
}
.show-animation.ng-hide-add{
	opacity: 0;
	visibility: hidden;
}
.show-animation.ng-hide-add.ng-hide-add-active{opacity: 1;
	visibility: visible;}*/


.dropdown-submenu-visible{
	left: 0;
	background: $grey-white;
	text-align: center;
	border-radius: 4px;
	.row{
		padding: 0;
		margin: 0;
	}
	.group-item{						
		padding: 0;
		margin: 25px 50px;
		background-color: #d9d9da;
		border-radius: 5px;
		line-height: 40px;
		.view-by-brand{
			color: $light-blue;
			font-size: 18px;
			.title{
				padding: 5px 0;
				border-radius: 4px;
			}
		}
	}

	.mega-group{
		text-align: left;
		.title{
			margin-bottom: 30px;
			text-align: center;
			a{
				font-size: 18px;
				color: $light-blue;								
			}
		}
		.list-mega{
			.item{
				text-align: left;
				color: $dark;
				font-size: 15px;
				margin-bottom: 10px;
				border-bottom: none !important;
				i{
					font-size: 13px;
					margin-right: 5px;
				}
				@media #{$low-tablet}{
					text-align: center !important; 
				}
			}
		}
		@media #{$smartphone}{
			padding: 0 50px;
		}
	}
}
.submenu-horizontal-hover{
	position: absolute;
	z-index: 9999;
	top: 56px;
	left: 0;
	min-width: 900px;
}


/*------------------------*/
/*-------- HEADER --------*/
/*------------------------*/
.fix-header-bar{
	z-index: 1000;
	position: fixed;
	width: 100%;
	background-color: rgba(251, 251, 251, 0.75) !important; 
	transition: 0.5s all ease-in-out;
}
.header{
	background-color: $white;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.45);
	.logo{
		text-align: center;
		img{
			margin: 30px 15px 30px 30px;
		}
	}
	.search-bar{
		margin: 0;
		position: relative;
		.search-box{
			position: relative;
			.search-input{
				width: 100%;
				height: 39px;
				line-height: 39px;
				margin: 30px 15px 30px 15px;
				font-size: 14px;
				color: $dark;
				padding-left: 10px;
			}
			.autocomplete-products{
				display:none;
				position: absolute;
				margin-left: 15px;
				width: 100%;
    			top: 70px;
				z-index: 99;
				.autocomplete-list{
					background-color: $white;
					.item{
						padding: 15px 10px;
						border-bottom: 1px solid $dark-line;
						.product{
							.image{
								background-color: $white;
								float: left;
								padding: 0;
								text-align: center;
								height: 80px;
								width: 80px;
								margin-right: 15px;
							}
							.details{
								display: inline-block;
								font-size: 17px;
								line-height: 27px;
								margin-left: 15px;
								.brand{									
									font-weight: lighter;									
								}
								.name{									
									font-weight: normal;									
									color: $light-blue;
								}
								.price{
									font-weight: bold;
									&::after{
										content: '₫';
									}
								}
							}
						}
						&:hover{
							background-color: #d9d9da;
						}
					}
				}			
			}
		}
		button{
			padding: 9px 15px;
			background: none;
			position: absolute;
			right: 2px;
			top: 30px;
			border: none;
		}		
	}
	.cart-hotline-cash{
		margin-top: 30px;	
		i.fa{
			color: $light-blue;
			font-size: 42px;
		}		
		.cart{
			position: relative;
			display: inline-block;
			margin-left: 30px;
			.number-cart{
				color: $light-blue;	
				position: absolute;
				top:0px;
				right:8px;
			}
		}
		.hotline-cash{
			display: inline-block;
			.hotline{
				margin-right: 20px;
				display: inline-block;
				.text{
					display: inherit;
					line-height: 100%;
					.number{
						font-weight: bold;
						line-height: 25px;
					}
				}
			}
			.cash{
				display: inline-block;
				.text{
					display: inherit;
				}
			}
		}
		
		@media 	#{$low-tablet}{
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}

/*------------------------*/
/*---------- MAIN --------*/
/*------------------------*/

/*------------------------*/
/*-------- NAVBAR --------*/
/*------------------------*/

.main-content{
	.navbar{
		margin: 1px 0;	
		.main-menu{
			position: relative;
			.nav-vertical{
				float: none;
				padding: 0;				
				> .title{					
					position: relative;
					text-align: left;					
					padding-left: 15px;					
					background-color: $dark-blue;
					color: $white;
					line-height: 55px;
					font-size: 20px;
					cursor: pointer;
					position: relative;
					i{
						font-size: 30px;
						margin-right: 5px;
					}
					.text{
						display: inline-block;
					}
					.arrow{
						position: absolute;
						right: 20px;
						top: 20%;
					}
				}
				/*@media #{$low-tablet}{
					display: block;
				}*/
			}
			.navbar-item{
				.item{										
					text-align: center;
					line-height: 55px;
					font-size: 20px;
					cursor: pointer;
					position: relative;			
					.icon{
						img{
							width: 21px;
							height: 21px;
							margin-bottom: 5px;
						}
					}
					.text{
						display: inline-block;
					}
					&:hover{
						background-color: $light-blue;
						color: $white;
						transition: 0.6s all linear;
						.arrow{
							background: $dark-blue;
						}
					}
					
				}
				.dropdown-submenu{
						display: none;					
						position: absolute;					
						background: $grey-white;
						text-align: center;					
						z-index: 9909;
						border-radius: 4px;
						top: 103%;
						height: 0;					
						left: 100%;
						max-width: 900px;
						min-width: 800px;				
						transition: all 0.6s ;
						-webkit-transition: visibility 0s, opacity 0.5s linear ;
						-moz-transition: all 0.6s ;
						-o-transition: all 0.6s ;					
						.row{
							padding: 0;
							margin: 0;
						}
						.group-item{						
							padding: 0;
							margin: 25px 50px;
							background-color: #d9d9da;
							.view-by-brand{
								color: $light-blue;
								font-size: 18px;
								.title{
									padding: 5px 0;
									border-radius: 4px;
								}
							}
						}

						.mega-group{
							text-align: left;
							.title{
								margin-bottom: 30px;
								text-align: center;
								a{
									font-size: 18px;
									color: $light-blue;								
								}
							}
							.list-mega{
								.item{
									text-align: left;
									color: $dark;
									font-size: 15px;
									margin-bottom: 10px;
									border-bottom: none !important;
									i{
										font-size: 13px;
										margin-right: 5px;
									}
								}
							}
							@media #{$smartphone}{
								padding: 0 50px;
							}
						}
						
				}

				@media #{$low-tablet}{
					.item{
						float: none;
						text-align: left;
						padding-left: 30px;
						border-bottom: 1px solid $dark-line;
							.arrow{	
								right: 20px;							
								top: 20%;
								width: 35px;
								height: 35px;
								line-height: 35px;
								text-align: center;
								display: block;
								border: 1px solid $dark-line;						
								border-radius: 4px;
								position: absolute;							
							}
						/*.dropdown-submenu{
							opacity: 1;
							min-height: 600px;
							height: auto;
							left: 0;
							width: 100%;
							max-width: 100%;
							min-width: 100%;
							visibility: visible;
							display: block;
							.mega-group{
								.list-mega{
									.item{
										padding:0;
										font-size: 13px;
										border:none;
									}
								}
							}
						}*/
					}
				}

				/*@media #{$low-tablet}{
					display: none;
					opacity: 0;
					visibility: hidden;
					transition: all .6s;
					position: absolute;
					z-index: 9999;
					top: 55px;
					background-color: $grey-white;
					.item{
						text-align: left;
						padding-left: 30px;
						border-bottom: 1px solid $dark-line;
						.arrow{
							display: block;
							position: absolute;
							right: 20px;
							top: 20px;
						}
						.dropdown-submenu{
							opacity: 1;
							min-height: 600px;
							height: auto;
							left: 0;
							width: 100%;
							max-width: 100%;
							min-width: 100%;
							visibility: visible;
							display: block;
							.mega-group{
								.list-mega{
									.item{
										padding:0;
										font-size: 13px;
										border:none;
									}
								}
							}
						}
					}
				}*/
			}
		}
	}	
}

/*------------------------*/
/*-------- SlIDER --------*/
/*------------------------*/

.main-content{
	.flex-slider{		
		height: 600px;
		padding: 0;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
		.main-slider-controls{
			#main-carousel{
				display: block !important;
				position: relative;
				z-index: 999;
				a{
					top: 272px;
					font-size: 40px;						
					color: $dark-line;
					position: absolute;	
					opacity: 0.5;					
				} 					
				a.previous{
					left:0;
				}
				a.next{
					right: 0;
				}
			}
		}
		.slide{
			width: 100%;
			height: 600px !important;
			position: relative;
			.crsl-wrap{
				.crsl-item{		
					.slider-background{						
						width: 100%;
						height: 600px;
						background-repeat: no-repeat !important;
						background-position: bottom -100px right !important;
						background-size: cover !important;
						filter: brightness(40%);
						-webkit-filter: brightness(40%);
						-moz-filter: brightness(40%);
						-o-filter: brightness(40%);
						-ms-filter: brightness(40%);
						
						@media #{$low-tablet}{
							background-size: auto  !important;
						}
					}																		
					.slider-content{
						width: 500px;
						top:60px;
						margin-left: 30px;
						position: absolute;					
						.title{
							font-size: 40px;
							font-weight: bold;
							color: $light-blue;
							margin-bottom: 20px;
						}
						.content{
							.slider-text{
								color: $white;
								font-size: 24px;
								margin-bottom: 40px;
								line-height: normal;
							}
						}
						.readmore-button{
							text-align: center;
							a{
								padding: 10px 40px;
								font-size: 24px;
								font-weight: regular;
								text-decoration: none;
								color: $white;
								text-align: center;
								background-color: $light-blue;
								&:hover{
									background-color: $dark-blue;
								}
							}
						}						
					}
				}					
			}					
		}		
	}
}


/*------------------------*/
/*----- PRODUCT ZONE -----*/
/*------------------------*/

.zone-products{
	.product-card{
		margin-top: 30px;
		background-color: $white;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
		.tabs{
			ul{
				padding: 10px 20px;
				border-bottom: 1px solid $dark-line;
				li{
					margin-right: 20px;
					display: inline-block;					
					color: $dark-line;
					.tab-item{
						text-decoration: none;
						.fa{
							color: $dark-line;
							padding: 10px;
							font-size: 42px;
						}
						.fa-eye{							
							font-size: 20px;
							border-radius: 50%;
							border: 1px solid $dark-line;
						}
						.text{
							color: $dark-line;														
							font-size: 24px;
							font-weight: light;							
						}	
					}
					
					&.active{
						color: $light-blue !important;
						.text{
							color: $dark;							
						};
						.fa{
							color: $light-blue;
						};
						.fa-eye{
							border: 1px solid $light-blue;
						};
					}
					&:hover{
						color: $light-blue !important;
						.text{
							color: $dark;							
						};
						.fa{
							color: $light-blue;							
						};
						.fa-eye{
							border: 1px solid $light-blue;
						};
					}
				}
				
			}			
		}
	}
}

.zone-products{
	.product-card{
		.hotnews-slider{
			position: relative;
			.slider-wrap{
				.card-slider{
					padding: 20px 0;
					figure{
						a{
							height: 255px;
						}
						figcaption{									
							h3{
								font-size: 17px;
								font-weight: bold;
								margin-bottom: 0;
							}
							.name{
								font-size: 17px;
								font-weight: lighter;
								margin-bottom: 10px;
							}
							.price{
								margin-bottom: 20px;
								.price-number{
									color: $light-blue;
									font-size: 20px;
									font-weight: bold;
								}
							}
						}
						.info{
							position: absolute;
							font-weight: bold;
							padding: 5px 15px;
							background: $light-blue;
							top: 0;
							left: 0;
							color: $white;								
						}																							
					}
					&:hover{
						border: 1px solid $light-blue;
					}
				}
			}
		}
	}
}

.zone-products{
	.product-card{
		.col-left{			
			.title-zone{
				background-color: $light-blue;	
				height: 65px;
				margin: 0;		
				a{
					position: relative;
					display: block;
					height: 65px;
					.icon{						
						position: absolute;
						top: 10px;
						left: 20px;						
						img{
							width: 42px;
							height: 42px;
						}					
					}
					.text{
						line-height: 65px;
						width: 100%;
						min-height: 65px;
						padding-left: 70px;
						color: $white;
						margin:0;
						font-size: 30px;
					}
				}
			}
			.toggle-nav{
				right: 25px;
				top: 15px;
				position: absolute;
				text-decoration: none;
				.fa{
					display: none;
					background-color: $dark-blue;
					width: 35px;
					color: $white;
					height: 35px;
					line-height: 35px;
					text-align: center;
					border: 1px solid $dark-line;
					border-radius: 4px;					
					@media #{$low-md}{
						display: block !important;
					}
				}
			}
			.nav-list-items{
				margin-top: 1px;	
				.item{					
					font-size: 20px;
					font-weight: lighter;
					border-bottom: 1px solid $dark-line;
					a{						
						display: block;
						line-height: 60px;
						margin-left: 20px;
						color: $dark;
						text-decoration: none;
						&:hover{
							text-decoration: none;
						}
					}
					&:last-child{
						border-bottom: none;
					}
					&:hover{
						background: $light-blue;						
						a{
							font-weight: bold;
							color:$white
						}
					}

				}
				@media #{$low-md}{
					display: none;
				}
			}
		}
		.col-right{
			.brands{
				position: relative;
				height: 68px;
				min-height: 68px;
				line-height: 65px;				
				box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.1);
				.all-brands{
					display: inline-block;					
					height: 65px;
					.title{
						margin: 0;
						text-align: center;
						a{
							display: block;
							color: $dark;
							height: 65px;
							text-transform: uppercase;
							line-height: 65px;
							&:hover{
								text-decoration: none;
							}
						}
					}
					&:hover{
						border:1px solid $light-blue;
						transition: all 0.4s;
					}
				}
				.brands-slider{
					width: 100%;
					background-color: $white;
					.crsl-wrap{
						height: 65px;
						.crsl-item{
							display: inline-block;
							text-align: center;
							.item{
								a{
									height: 65px;
									img{
										height: 65px;
									}
								}
							}
							&:hover{
								border:1px solid $light-blue;
								transition: all 0.4s;
							}
						}
					}
				}
				.slider-controls{
					top:0;
					a{
						text-align: center;
					}
				}
			}
			.products{
				position: relative;
				margin-top: 20px;
				@media #{$low-tablet}{
					margin-top: 66px;
				}
				.slider-controls{
					position: absolute;
					width: 100%;
					top: 47%;
					right: 0;
					z-index: 99;
					.crsl-controls{
						position: relative;
						a{
							position: absolute;
						}
						a.previous{
							left:0;
						}
						a.next{
							right:2px;
						}
					}					
				}				
				.product-slider{					
					.crsl-wrap{
						.crsl-item{
							padding: 20px 0 2px 0;
							figure{
								a{
									height: 255px;
								}
								figcaption{									
									h3{
										font-size: 17px;
										font-weight: bold;
										margin-bottom: 0;
									}
									.name{
										font-size: 17px;
										font-weight: lighter;
										margin-bottom: 10px;
									}
									.price{
										margin-bottom: 20px;
										.price-number{
											color: $light-blue;
											font-size: 20px;
											font-weight: bold;
										}
									}
								}
								.info{
									position: absolute;
									font-weight: bold;
									padding: 5px 15px;
									background: $light-blue;
									top: 0;
									left: 0;
									color: $white;								
								}																							
							}
							&:hover{
								border:1px solid $light-blue;
								transition: all 0.4s;
							}
						}
					}
				}
			}
		}
	}
}


/*-------------------------------
--------NEWS & BRANDS -----------
-------------------------------*/

.news-brands{
	margin-top: 30px;
	background-color: $white;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	.news-col{
		padding: 30px 0 20px 30px;
		.title-bar{
			margin-bottom: 20px;
			.title-col{
			font-size: 37px;
			color: $light-blue;			
			}
			.slider-controls{
				top: 30px;
				right: 0;
			}
		}
		.news{
			.posts{
				.post{
					.post-item{
						margin: 25px 0;
						.image{
							padding: 0;
						}
						.text{
							padding: 0 0 0 15px;
							.title{
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}	
	}

	.brands-col{
		padding: 30px 0 20px 30px;
		.title-bar{
			margin-bottom: 20px;
			.title-col{
				font-size: 37px;
				color: $light-blue;
			}
			.slider-controls{
				top: 30px;
				right: 0;
			}
		}
		.brands{
			.brands-sliderz{
				.brand{
					border-left: 1px solid rgba(181, 181, 187, 0.3);
					.list-brand-items{
												
						.brand-item{
							border-bottom: 1px solid rgba(181, 181, 187, 0.3);
							a{
								padding: 15px;
								img{
									max-width: 70%;
									margin: 0 auto;
									display: block;
									filter: grayscale(100%);
									-webkit-filter: grayscale(100%);
									-moz-filter: grayscale(100%);
									-o-filter: grayscale(100%);
									transition: all .3s;
									&:hover{
										filter: grayscale(0%);
										-webkit-filter: grayscale(0%);
										-moz-filter: grayscale(0%);
										-o-filter: grayscale(0%);
									} 
								}	
							}
							&:last-child{
								border-bottom: none;								
							}
						}
					}
				}
				.crsl-active{
					border-left: none;	
				}
			}
		}
	}
}


/*-------------------------------
--------FEATUREs ----------------
-------------------------------*/

.features{
	margin-top: 30px;
	background-color: $white;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	padding: 40px;
	.feature{		
		border-right: 1px solid $dark-line;
		em{
			font-size: 25px;
			color: $light-blue;
			border-radius: 50%;
			line-height: 45px;
			width:50px;
			height: 50px;
			border: solid 1px $dark-line;			
		}
		h4{
			color: $dark;
			font-size: 20px;
			display: inline-block;
			margin-left: 10px;
		}		
		&:hover{
			em{
				background-color: $light-blue;
				color: $white;
			}
		}

		@media #{$tablet}{
			border-right: none;
			text-align: left;
			padding-left: 35%;
			margin-top: 10px;
		}
		@media #{$smartphone}{
			border-right: none;
			text-align: left;
			padding-left: 25%;
			margin-top: 10px;
		}
	}
	.last-child{
		border:none;
	}	
}


/*-------------------------------
-----------FOOTER----------------
-------------------------------*/

.footer{
	background-color: $white;
	margin-top: 30px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	.footer-email{
		background-color: $dark-blue;
		padding: 0 30px;
		.footer-wrap{
			.form-email{
				margin: 30px 0;
				padding-right: 40px;
				border-right: 1px solid $dark-line;	
				.form-group{
					margin: 0;
					label{
						font-size: 30px;
						font-weight: regular;
						text-align: center;
						padding: 0;
						line-height: 55px;						
					}
					.input-group{
						position: relative;
						input{
							height: 55px;
							padding-left: 10px;	
							font-size: 20px;
							color: $dark-line;
							overflow: hidden;						
						}
						.sign-up-btn{
							position: absolute;
							top: 0;
							right: 0;
							z-index: 999;
							/*padding: 10px 40px;*/
							padding: 0 20px;
							height: 100%;
							font-size: 30px;
							font-weight: regular;
							text-decoration: none;
							color: $white;
							text-align: center;
							background-color: #09c3ed;
						}
					}
				}

				@media #{$low-tablet}{
					border-right: none;
				}
				@media #{$smartphone}{
					label{
						font-size: 25px !important;
					}
				}
			}

			.address{
				margin: 30px 0;
				i{
					font-size: 51px;
					color: $white;
					line-height: 55px;
				}
				h4{
					display: inline-block;
					margin-left: 10px;
					font-size: 40px;
					line-height: 55px;
				}

				@media #{$low-tablet}{
					margin-top: 0;
				}
			}
		}
	}

	.footer-wrap{		
		.main-column{
			margin-top: 30px;
			.list-items{
				.title{					
					font-size: 25px;
					font-weight: bold;
					margin-bottom: 20px;
					a{
						color:$dark;
					}
				}
				.item{
					font-size:18px;
					font-weight: normal;
					a{
						color: $dark-line;
						&:hover{
							color: $light-blue;
						}
					}
				}
			}
		}
		
		@media #{$low-tablet}{
			text-align: center;
		}
	}

	.social-testimonials{
		margin-top: 30px;
		.social{
			margin-top: 30px;
			.title{
				text-transform: uppercase;
				font-size: 25px;
				font-weight: bold;
			}
			ul{
				li{
					margin-top: 30px;
					h4{
						font-size: 25px;
						margin-bottom: 20px;
						margin-left: 20px;												
					}
					#instagram{
						.feedaz{
							img{
								width: 32%;
							}
						}
					}
				}
			}
			@media #{$low-tablet}{
				text-align: center;
			}
		}

		.testimonials{
			margin-top: 30px;
			.title{
				text-transform: uppercase;
				font-size: 25px;
				font-weight: bold;				
			}
			.testimonial{
				margin: 20px 10px;
				.avatar{
					text-align: center;
					img{
						border: 2px solid $light-blue;
						border-radius: 50%;
					}
					.author{
						color: $dark-line;
						font-size: 20px;
					}
				}
			}
		}
	}

	.footer-utility{
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $dark-line;
		ul{			
			li{
				display: inline-block;
				margin-right: 20px;
				a{
					font-size: 18px;
					color: $dark-line;
					&:hover{
						text-decoration: underline;
						color: $light-blue; 
					}
				}
			}
		}
	}

	.copyright{
		margin: 10px 0;
		color: $dark-line;
		a{
			font-size: 18px;	
			color: $light-blue;
			&:hover{
				color: $dark;
			}
		}
	}
}

/*-------------------------------
-----------768px----------------
-------------------------------*/
