$grey-white: #e8e8e8;
$white: #fbfbfb;
$dark: #29292b;
$dark-line: #b5b5bb;
$light-blue: #09c3ed;
$dark-blue: #0daed2;

body {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
	color: $dark;   	
    background-color: #e8e8e8;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    padding: 0;
    margin: 0;  
    font-size: 42px;        
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 5px 0;
}


a {
    text-decoration: none;
	&:hover{
		text-decoration: none;
		text-underline: none
	}
}


.text-center{
    text-align: center;
}

.left{
    float:left;
}

.right{
    float:right;
}

img {
  max-width: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}



.clear {
    clear: both;
}


.slider-controls{
	position: absolute;
	top: 15px;
	right: 20px;
	.btn-prev,.btn-next{
		width: 40px;
		height: 40px;
		border: 1px solid $dark-line;
		font-size: 15px;
		line-height: 40px;
		&:hover{
			border: 1px solid $light-blue;
			color: $light-blue;
			cursor: pointer;
		}

	}
	.btn-prev{
		display: inline-block;
	}
	.btn-next{
		display: inline-block;
	}
}


/*------------------------*/
/*-------- HEADER --------*/
/*------------------------*/
.header{
	background-color: $white;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.45);
	.logo{
		text-align: center;
		img{
			margin: 30px 15px 30px 30px;
		}
	}
	.search-bar{
		margin: 0;
		position: relative;
		.search-box{
			width: 100%;
			height: 39px;
			line-height: 39px;
			margin: 30px 15px 30px 15px;
			font-size: 14px;
			color: $grey-white;
			padding-left: 10px;
		}
		.search-icon{
			position: absolute;
			right: 15px;
			top: 38px;
		}
	}
	.cart-hotline-cash{
		margin-top: 30px;	
		i.fa{
			color: $light-blue;
			font-size: 42px;
		}		
		.cart{
			position: relative;
			display: inline-block;
			margin-left: 30px;
			.number-cart{
				color: $light-blue;	
				position: absolute;
				top:0px;
				right:8px;
			}
		}
		.hotline-cash{
			display: inline-block;
			.hotline{
				margin-right: 20px;
				display: inline-block;
				.text{

					display: inherit;
					line-height: 100%;
					.number{
						font-weight: bold;
						line-height: 25px;
					}
				}
			}
			.cash{
				display: inline-block;
				.text{
					display: inherit;
				}
			}
		}
	}
}

/*------------------------*/
/*---------- MAIN --------*/
/*------------------------*/

/*------------------------*/
/*-------- NAVBAR --------*/
/*------------------------*/

.main-content{
	.navbar{
		margin: 0;
		.main-menu{
			.item{
				text-align: center;
				line-height: 55px;
				font-size: 20px;
				&:hover{
					background-color: $light-blue;
					color: $white;
				}
				.icon{
					img{
						width: 21px;
						height: 21px;
						margin-bottom: 5px;
					}
				}
				.text{
					display: inline-block;
				}
				.dropdown-submenu{
					display:none;
				}
			}
		}
	}
}

/*------------------------*/
/*-------- SlIDER --------*/
/*------------------------*/

.main-content{
	.flex-slider{		
		height: 600px;
		padding: 0;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
		.main-slider-controls{
			#main-carousel{
				display: block !important;
				position: relative;
				z-index: 999;
				a{
					top: 272px;
					font-size: 40px;						
					color: $dark-line;
					position: absolute;	
					opacity: 0.5;					
				} 					
				a.previous{
					left:0;
				}
				a.next{
					right: 0;
				}
			}
		}
		.slide{
			width: 100%;
			height: 600px !important;
			position: relative;
			.crsl-wrap{
				.crsl-item{		
					.slider-background{						
						width: 100%;
						height: 600px;
						background-repeat: no-repeat !important;
						background-position: bottom -100px right !important;
						background-size: cover !important;
						filter: brightness(40%);
						-webkit-filter: brightness(40%);
						-moz-filter: brightness(40%);
						-o-filter: brightness(40%);
						-ms-filter: brightness(40%);
					}																		
					.slider-content{
						width: 500px;
						top:60px;
						margin-left: 30px;
						position: absolute;					
						.title{
							font-size: 40px;
							font-weight: bold;
							color: $light-blue;
							margin-bottom: 20px;
						}
						.content{
							.slider-text{
								color: $white;
								font-size: 24px;
								margin-bottom: 40px;
								line-height: normal;
							}
						}
						.readmore-button{
							text-align: center;
							a{
								padding: 10px 40px;
								font-size: 24px;
								font-weight: regular;
								text-decoration: none;
								color: $white;
								text-align: center;
								background-color: $light-blue;
								&:hover{
									background-color: $dark-blue;
								}
							}
						}						
					}
				}					
			}					
		}		
	}
}


/*------------------------*/
/*----- PRODUCT ZONE -----*/
/*------------------------*/

.zone-products{
	.product-card{
		margin-top: 30px;
		background-color: $white;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
		.tabs{
			ul{
				padding: 10px 20px;
				border-bottom: 1px solid $dark-line;
				li{
					margin-right: 20px;
					display: inline-block;					
					color: $dark-line;
					.tab-item{
						text-decoration: none;
						.fa{
							font-size: 42px;
						}
						.fa-eye{
							color: $dark-line;
							font-size: 20px;
							padding: 10px;
							border-radius: 50%;
							border: 1px solid $dark-line;
						}
						.text{
							color: $dark-line;														
							font-size: 24px;
							font-weight: light;							
						}	
					}
					.tab-item.active{
						text-decoration: none;
						color: $light-blue;
						.text{
							color: $dark;
							font-size: 24px;
							font-weight: light;							
						}
					}
					&:hover{
						color: $light-blue !important;
						.text{
							color: $dark;							
						}
						.fa-eye{
							color: $light-blue;
							border: 1px solid $light-blue;
						}
					}
				}
				
			}			
		}
	}
}

.zone-products{
	.product-card{
		.hotnews-slider{
			.slider-wrap{
				.card-slider{
					padding: 20px 0;
					figure{
						figcaption{
							h3{
								font-size: 17px;
								font-weight: bold;
								margin-bottom: 0;
							}
							.name{
								font-size: 17px;
								font-weight: lighter;
								margin-bottom: 10px;
							}
							.price{
								.price-number{
									color: $light-blue;
									font-size: 17px;
									font-weight: bold;
								}
							}
						}
					}
					&:hover{
						border: 1px solid $light-blue;
					}
				}
			}
		}
	}
}

.zone-products{
	.product-card{
		.col-left{			
			.title-zone{
				background-color: $light-blue;	
				height: 65px;
				margin: 0;		
				a{
					position: relative;
					display: block;
					height: 65px;
					.icon{						
						position: absolute;
						top: 10px;
						left: 20px;						
						img{
							width: 42px;
							height: 42px;
						}					
					}
					.text{
						line-height: 65px;
						width: 100%;
						min-height: 65px;
						padding-left: 70px;
						color: $white;
						margin:0;
						font-size: 30px;
					}
				}
			}
			.nav-list-items{
				.item{					
					font-size: 20px;
					font-weight: lighter;
					padding: 15px 30px;
					border-bottom: 1px solid $dark-line;
					a{
						color: $dark;
						text-decoration: none;
						&:hover{
							text-decoration: none;
						}
					}
					&:last-child{
						border-bottom: none;
					}
					&:hover{
						background: $light-blue;						
						a{
							font-weight: bold;
							color:$white
						}
					}

				}
			}
		}
		.col-right{
			.brands{
				position: relative;
				height: 68px;
				min-height: 68px;
				line-height: 65px;				
				box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.1);
				.all-brands{
					display: inline-block;					
					height: 65px;
					.title{
						margin: 0;
						text-align: center;
						a{
							color: $dark;
							height: 65px;
							text-transform: uppercase;
							line-height: 65px;
							&:hover{
								text-decoration: none;
							}
						}
					}
					&:hover{
						border:1px solid $light-blue;
						transition: all 0.4s;
					}
				}
				.brands-slider{
					width: 100%;
					background-color: $white;
					.crsl-wrap{
						height: 65px;
						.crsl-item{
							display: inline-block;
							text-align: center;
							.item{
								a{
									height: 65px;
									img{
										height: 65px;
									}
								}
							}
							&:hover{
								border:1px solid $light-blue;
								transition: all 0.4s;
							}
						}
					}
				}
				.slider-controls{
					top:0;
					a{
						text-align: center;
					}
				}
			}
			.products{
				position: relative;
				margin-top: 20px;
				.slider-controls{
					position: absolute;
					width: 100%;
					top: 47%;
					right: 0;
					z-index: 99;
					.crsl-controls{
						position: relative;
						a{
							position: absolute;
						}
						a.previous{
							left:0;
						}
						a.next{
							right:0;
						}
					}					
				}				
				.product-slider{					
					.crsl-wrap{
						.crsl-item{
							padding: 20px 0;
							figure{
								figcaption{
									h3{
										font-size: 17px;
										font-weight: bold;
										margin-bottom: 0;
									}
									.name{
										font-size: 17px;
										font-weight: lighter;
										margin-bottom: 10px;
									}
									.price{
										.price-number{
											color: $light-blue;
											font-size: 17px;
											font-weight: bold;
										}
									}
								}
							}
							&:hover{
								border: 1px solid $light-blue;
							}
						}
					}
				}
			}
		}
	}
}