<div class="vertical-category-menu">
	<h4 class="title">
		<span class="left"><i class="fa fa-bars"></i></span>
		<span class="title-menu">CATEGORIES</span>
	</h4>
	<ul class="category-menu-list-item">
		<li class="category-item">
			<h3 class="menu-title-zone">
				<span class="cate-icon"><img ng-src="assets\images\svg-icon\headphone-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Audio</span>
			</h3>
			<a href="javascript:;" class="toggle-nav">
				<span class="fa show-nav fa-chevron-down"></span>
			</a>
			<div class="category-mega-list">
				<div class="row">
					<div class="group-item">
						<a href="/audio-brands" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
					</div>
				</div>
				<div class="row">
					<div class="mega-group col-xs-6 col-sm-6 col-md-6 col-lg-3">
						<h4 class="title">
							<a href="#" class="ng-binding">HEADPHONES</a>
						</h4>
						<ul class="list-mega">
							<li class="item ">
								<a sref="fullsize-headphone"></a>
								<i class="fa fa-chevron-right"></i>
								<span class="text ng-binding">Fullsize Headphone</span>
							</li>
							<li class="item ">
								<a sref="inear-headphone"></a>
								<i class="fa fa-chevron-right"></i>
								<span class="text ng-binding">Inear Headphone</span>
							</li>
							<li class="item">
								<a sref="earbud-headphone"></a>
								<i class="fa fa-chevron-right"></i>
								<span class="text ng-binding">Earbud Headphone</span>
							</li>
							<li class="item ng-scope">
								<a sref="portable-headphone"></a>
								<i class="fa fa-chevron-right"></i>
								<span class="text ng-binding">Portable Headphone</span>
							</li>
							<li class="item ng-scope">
								<a sref="bluetooth-headphone"></a>
								<i class="fa fa-chevron-right"></i>
								<span class="text ng-binding">bluetooth Headphone</span>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</li>
		<li class="category-item">
			<h3 class="menu-title-zone">

				<span class="cate-icon"><img ng-src="assets\images\svg-icon\speaker-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Speaker</span>
			</h3>
			<a href="javascript:;" class="toggle-nav">
				<span class="fa show-nav fa-chevron-down"></span>
			</a>
		</li>
		<li class="category-item">
			<h3 class="menu-title-zone">
				<span class="cate-icon"><img ng-src="assets\images\svg-icon\desktop-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Computer</span>

			</h3>
			<a href="javascript:;" class="toggle-nav">
				<span class="fa show-nav fa-chevron-down"></span>
			</a>
		</li>
		<li class="category-item">
			<h3 class="menu-title-zone">
				<span class="cate-icon"><img ng-src="assets\images\svg-icon\gamepad-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Gaming Gear</span>

			</h3>
			<a href="javascript:;" class="toggle-nav">
				<span class="fa show-nav fa-chevron-down"></span>
			</a>
		</li>
		<li class="category-item">
			<h3 class="menu-title-zone">
				<span class="cate-icon"><img ng-src="assets\images\svg-icon\gift-box-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Promotion</span>

			</h3>
		</li>
		<li class="category-item">
			<h3 class="menu-title-zone">
				<span class="cate-icon"><img ng-src="assets\images\svg-icon\person-black.svg" alt=""></span>
				<span class="cate-text ng-binding">Contacts</span>
			</h3>
		</li>
	</ul>
</div>