<ul>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon"><img src="assets\images\svg-icon\headphone-black.svg" alt=""></span>
        <span class="text">Audio</span>
        <em class="arrow fa fa-chevron-right"></em>
        <div class="dropdown-submenu">
            <div class="row">
                <div class="group-item">
                    <a href="#" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
                </div>
            </div>
            <div class="row">
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">HEADPHONES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Fullsize headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Earbud headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">In-ear headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable headphones</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">DAC / HEADAMP</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable DAC/AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop DAC</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Transport Converter</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">MUSIC PLAYER</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">DSD Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">24bit Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">LossLess Music Player</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">AUDIO ACCESSORIES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Analog cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Digital cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Eartip / Earpad</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone stand</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone box</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Leather case</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Audio filter</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon"><img src="assets\images\svg-icon\speaker-black.svg" alt="">
                                </span>
        <span class="text">Speaker</span>
        <em class="arrow fa fa-chevron-right"></em>
        <div class="dropdown-submenu">
            <div class="row">
                <div class="group-item">
                    <a href="#" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
                </div>
            </div>
            <div class="row">
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">HEADPHONES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Fullsize headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Earbud headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">In-ear headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable headphones</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">DAC / HEADAMP</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable DAC/AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop DAC</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Transport Converter</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">MUSIC PLAYER</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">DSD Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">24bit Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">LossLess Music Player</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">AUDIO ACCESSORIES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Analog cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Digital cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Eartip / Earpad</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone stand</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone box</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Leather case</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Audio filter</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon"><img src="assets\images\svg-icon\gamepad-black.svg" alt="">
                                </span>
        <span class="text">Gaming Gear</span>
        <em class="arrow fa fa-chevron-right"></em>
        <div class="dropdown-submenu">
            <div class="row">
                <div class="group-item">
                    <a href="#" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
                </div>
            </div>
            <div class="row">
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">HEADPHONES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Fullsize headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Earbud headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">In-ear headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable headphones</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">DAC / HEADAMP</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable DAC/AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop DAC</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Transport Converter</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">MUSIC PLAYER</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">DSD Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">24bit Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">LossLess Music Player</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">AUDIO ACCESSORIES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Analog cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Digital cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Eartip / Earpad</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone stand</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone box</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Leather case</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Audio filter</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon"><img src="assets\images\svg-icon\desktop-black.svg" alt="">
                                 </span>
        <span class="text">Computer</span>
        <em class="arrow fa fa-chevron-right"></em>
        <div class="dropdown-submenu">
            <div class="row">
                <div class="group-item">
                    <a href="#" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
                </div>
            </div>
            <div class="row">
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">HEADPHONES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Fullsize headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Earbud headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">In-ear headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable headphones</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">DAC / HEADAMP</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable DAC/AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop DAC</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Transport Converter</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">MUSIC PLAYER</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">DSD Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">24bit Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">LossLess Music Player</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">AUDIO ACCESSORIES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Analog cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Digital cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Eartip / Earpad</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone stand</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone box</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Leather case</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Audio filter</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon"><img src="assets\images\svg-icon\gift-box-black.svg" alt="">
                                </span>
        <span class="text">Promotion</span>
    </li>
    <li class="item submenu col-xs-12 col-lg-2">
        <span class="icon">
                            <img src="assets\images\svg-icon\person-black.svg" alt="">
                        </span>
        <span class="text">Contacts</span>
    </li>
</ul>