<div ng-class="{'container': isHorizontal, 'container-fluid': !isHorizontal}">
    <div class="main-menu">
        <div class="nav-vertical col-xs-12" ng-if="!isHorizontal" ng-click="menuButtonArrowClicked()">
            <div class="title">
                <i class="fa fa-bars"></i>
                <h3 class="text">NAVIGATION</h3>
                <i class="arrow fa" ng-show="isMenuButtonArrowVisible" ng-class="{'fa-chevron-right': !isMenuVisible, 'fa-chevron-down': isMenuVisible}"></i>
            </div>
        </div>
        <ul class="navbar-item slidedown" ng-show="isMenuVisible || isHorizontal"
                                ng-transclude></ul>
        <!--<ul class="navbar-item slidedown"  ng-transclude></ul>-->
    </div>
</div>