<div class="zzzzzz">
        <li class="item submenu col-xs-12 col-lg-2" ng-mouseenter="subMenuMouseEnter()" ng-mouseleave="subMenuMouseLeave()">
            <span class="icon"><img ng-src="{{icon}}" alt=""></span>
            <span class="text">{{label}}</span>
            <em class="arrow fa fa-chevron-right" ng-show="!isHorizontal" ng-click="subMenuClicked()" ng-class="{'fa-chevron-down':isOpen}"></em>
        </li>
        <div class="slidedown" ng-show="isOpen" 
                                ng-class="{'dropdown-submenu-visible': isOpen,'dropdown-submenu':!isOpen,'submenu-horizontal-hover': subMenuHover}"
                                ng-mouseenter="subMenuMouseEnter()" ng-mouseleave="subMenuMouseLeave()">
            <div class="row">
                <div class="group-item">
                    <a href="#" class="view-by-brand"><span class="title">VIEW ALL BRANDS</span></a>
                </div>
            </div>
            <div class="row">
                <div class="mega-group col-xs-6 col-sm-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">HEADPHONES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Fullsize headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Earbud headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">In-ear headphones</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable headphones</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">DAC / HEADAMP</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Portable DAC/AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop AMP</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Desktop DAC</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Transport Converter</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">MUSIC PLAYER</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">DSD Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">24bit Music Player</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">LossLess Music Player</span>
                        </li>
                    </ul>
                </div>
                <div class="mega-group col-xs-6 col-sm-6 col-sm-3">
                    <h4 class="title">
                        <a href="#">AUDIO ACCESSORIES</a>
                    </h4>
                    <ul class="list-mega">
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Analog cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Digital cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Eartip / Earpad</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone stand</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone box</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Leather case</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Headphone cable</span>
                        </li>
                        <li class="item">
                            <i class="fa fa-chevron-right"></i>
                            <span class="text">Audio filter</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</div>